body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}
h1{
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5.625rem;
  color: #66BFBF;

}
h2{
  padding-top: 30px;
  font-family: 'Montserrat', sans-serif;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
p{
  line-height: 2;
}
hr{
  color: #c9d6df;
  border: dotted 4px;
  border-bottom: none;
  width: 2%;
}
.intro{
  width: 30%;
  margin: 0 auto;
  padding-bottom: 50px;
}
.guitar{
  width: 25%;
  float: right;
  margin-left: 30px;
}
.guitar:hover{
  background-color: #4cbbb9;
}
.coding{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.coding:hover{
  background-color: #4cbbb9;
}
.skill1-h3{
  text-align: left;
}
.skill1-p{
  text-align: left;
}
.skill2-h3{
  text-align: left;
}
.skill2-p{
  text-align: left;
}
.skill-row{
  width: 50%;
  margin: 100px auto;
}
.footer-link{
  color: #11999E;
}
.designation{
  margin: 10px auto 30px auto;
  font-size: 1.875rem;
  color: #66BFBF;
  font-weight: normal;
}
.top{
  background-color: #eaffd0;
  padding-top: 150px;
  position: relative;

}
.middle-container{
  background-color: #95e1d3;
  padding: 80px 0;
}
.kiet{
  text-decoration: none;
}
.bottom-container{
  background-color: #444f5a;
  padding: 30px;
  }
.bottom-container-1{
    padding-top: 20px;
    margin: 0 auto;
    color: white;
  }
.cloud-1{
  position: absolute;
  left: 25%;
}
.cloud-2{
  position: absolute;
  right: 30%;
  top: 80px;
}
.mount{
  margin: 0;
}
.end{
  width: 30%;
  margin: 0 auto;
  line-height: 1.5;
}
.footer-link{
  padding-left: 20px;
  padding-right: 20px;
  text-decoration: none;
}
.footer-link:hover{
  color: #eaf6f6;
}
.btn {
	box-shadow: 1px 1px 14px -7px #3e7327;
	background-color:#11999e;
	border-radius:5px;
	border:3px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:16px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:1px 1px 3px #5b8a3c;
}
.btn:hover {
	background-color:#61c0bf;
}
.btn:active {
	position:relative;
	top:1px;
}
